<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,142},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,68}}</string>
			<key>sourceSize</key>
			<string>{74,68}</string>
		</dict>
		<key>hero_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,142},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,72},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,72},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,72},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,72},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,2},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>hero_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{74,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{74,68}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>joystick_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>joystick_pad.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{204,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,204}}</string>
			<key>sourceSize</key>
			<string>{204,204}</string>
		</dict>
		<key>monster1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,370},{88,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{88,77}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>monster1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,208},{88,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{88,77}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>monster1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,291},{88,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{88,77}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>monster2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,313},{90,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{90,81}}</string>
			<key>sourceSize</key>
			<string>{96,85}</string>
		</dict>
		<key>monster2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,396},{90,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{90,81}}</string>
			<key>sourceSize</key>
			<string>{96,85}</string>
		</dict>
		<key>monster2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,313},{90,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{90,81}}</string>
			<key>sourceSize</key>
			<string>{96,85}</string>
		</dict>
		<key>monster3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,396},{88,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{88,81}}</string>
			<key>sourceSize</key>
			<string>{92,85}</string>
		</dict>
		<key>monster3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,396},{88,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{88,81}}</string>
			<key>sourceSize</key>
			<string>{92,85}</string>
		</dict>
		<key>monster3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,208},{88,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{88,81}}</string>
			<key>sourceSize</key>
			<string>{92,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sprite_sheet@2x.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d854ac31073295647c49c61a11b11e4b$</string>
		<key>textureFileName</key>
		<string>sprite_sheet@2x.png</string>
	</dict>
</dict>
</plist>
